<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>https://c1.staticflickr.com/3/2883/9971316883_21fc7b0482_b.jpg</string>
	<string>https://c2.staticflickr.com/6/5326/9971316453_53e64d502d_b.jpg</string>
	<string>https://c2.staticflickr.com/8/7338/9971187805_811063c4a9_b.jpg</string>
	<string>https://c2.staticflickr.com/8/7319/9971202144_73bf717e79_b.jpg</string>
	<string>https://c2.staticflickr.com/8/7423/9971251796_824bb89cbd_b.jpg</string>
	<string>https://c1.staticflickr.com/3/2870/9971248476_3afa678540_b.jpg</string>
	<string>https://c2.staticflickr.com/8/7427/9971171555_6b7fe24584_b.jpg</string>
</array>
</plist>
